<section class="footer red lighten-1">
  <footer class="nav-wrapper row valign-wrapper">
    <p class="col l2">Copyright &copy; Members Only</p>
    <p class="col l2">Made by Dorian Deptuch</p>
    <a class="col l2 valign-wrapper" href="https://github.com/DorianDeptuch">
      <i class="fab fa-github fa-2x black-text"></i>
    </a>
  </footer>
</section>
