<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body class="grey lighten-4">
    <%- include("./partials/header.ejs") %>

    <div class="container">
      <div class="card">
        <h3 class="center">Become Verified</h3>

        <form method="POST" action="verified" style="width: 50%; margin: 0 auto" class="card-content">
        <%- include("./partials/messages") %>
          <p></p>
          <p>Verification will allow you to see the author and date of messages on the main page.</p>
          <div class="input-field">
            <i class="material-icons prefix">check_circle</i>
            <input type="text" id="verified" name="verified" required/>
            <label for="verified">Submit your answer</label>
          </div>
          
          <div class="input-field center-align">
            <input type="submit" class="btn ">
          </div>
        </form>
      </div>
  </div>
  </body>
</html>
